// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.items-list{ cursor: pointer; }

ul.items-list {
  margin: 0px;

  li {
    list-style: none;
  }

}

.alert-block {
  padding-top: 8px;
  padding-bottom: 8px;
}
