body {
  background-color: #C0DEED;
  /* padding-top: 60px; */ 
  height: 100%;
  background-image: image-url("bg.png");
  background-repeat: no-repeat;
  background-position: left 40px;
  background-attachment: fixed;
}

html {
  height: 100%;
}

#page-outer {
  height: 100%;
  /*padding-top: 40px; */
}

.toggled-checkbox {
  color: white;
}

form.form-navbar {
  margin: 0 0 -70px;
}

.input-navbar {
  margin-top: 5px;
}

.wrapper {
  position: relative;
  width: 837px;
  min-height: 100%;
  padding: 60px 14px;
  margin: 0 auto;
  background-image: image-url("white.png");
}

.alert-white {
  background-color: #F9F9F9;
  border-color: rgb(226, 226, 226);
  color: #333;
}

.alert {
  margin-bottom: 7px; 
}

.right {
  float: right;
}
